<!DOCTYPE html>
<html>
<head>

    <title>Checkout Page</title>

</head>
<body>

<h1>Checkout Page</h1>

<hr>

{% for item in cartitems %}

    <h3>{{ item.product.name }}</h3>

    <p>Quantity : {{ item.quantity }}</p>

    <p>Price : ₹{{ item.product.price }}</p>

    <hr>

{% endfor %}

<h2>Total Amount : ₹{{ total_price }}</h2>

<form method="POST">

    {% csrf_token %}

    <input
        type="text"
        name="name"
        placeholder="Enter Name"
        value="{{user.name}}"
        required
    >

    <br><br>

    <textarea
        name="address"
        placeholder="Enter Address"

        required
    ></textarea>

    <br><br>

    <input
        type="text"
        name="phone"
        placeholder="Enter Phone Number"
        value="{{user.phone_number}}"
        required
    >

    <br><br>

    <button type="submit">

        Proceed To Payment

    </button>

</form>

</body>
</html>